<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <script>
        try{if(window.parent!=null&&window!=window.parent)
        {window.parent.postMessage(JSON.stringify({eventType:'web_app_open_tg_link',eventData:
        {path_full:"\/wwwshopmasteruz"}}),
        'https://web.telegram.org');}}catch(e){}
    </script>
    <meta property="og:title" content="SHOPMASTER.UZ Служба поддержки">
    <meta property="og.image" content="%sapi/v1/profile/verification/%s">
</head>
<body>

</body>
</html>